.scan-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.scan-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#preview {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#scan-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scan-form label {
    font-size: 1em;
    margin-bottom: 10px;
}

#scan-form input[type="url"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#scan-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #575757;
}

@media (max-width: 768px) {
    .scan-container {
        width: 80%;
        margin: 20px auto;
        padding: 15px;
        margin-top: 100px;
    }

    .scan-container h1 {
        font-size: 1.5em;
    }

    #video-container {
        margin-bottom: 15px;
    }

    #preview {
        width: 90%;
        max-width: 100%;
    }

    #scan-form {
        width: 100%;
    }

    #scan-form input[type="url"] {
        width: 100%;
        max-width: 100%;
    }

    #scan-form button {
        width: 100%;
        padding: 8px;
    }
}
