.rese__content{
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 10px;
    width: 25%;
    margin-top: 100px;
}

.message-box {
    background-color: #fff;
    padding: 100px 0 90px;
    border-radius: 3px;
    box-shadow:0 4px 16px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.message-box p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    top: -20px;
}

.message-box button {
    background-color:  #305dff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.message-box button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .rese__content {
        width: 60%;
    }

    .message-box {
        padding: 50px 20px;
    }

    .message-box p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .message-box button {
        font-size: 14px;
        padding: 10px 20px;
    }
}